<%- include('header') %>

<h1>This is the about page.</h1>
<p>
    
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac posuere nibh. Ut faucibus pulvinar ante, in ultrices sapien iaculis id. Nullam quam lorem, pharetra ac varius vulputate, pretium eu dui. Etiam dapibus id leo sed aliquet. Curabitur vehicula leo augue, ac vestibulum felis condimentum vitae. Aliquam fermentum at nisi quis feugiat. Maecenas id tortor tincidunt, aliquet libero et, laoreet sapien. Ut ut nunc vel est porttitor imperdiet at vitae nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla quis libero quis urna aliquet ullamcorper sit amet ac nulla. Nulla lectus justo, ullamcorper quis aliquet quis, aliquet ut arcu. Vivamus sodales tempus ipsum quis molestie. Nunc erat urna, pellentesque ac tristique sed, dapibus et ex. Aliquam ac porta leo, vel volutpat tellus. Cras eu mollis nunc. Vestibulum sit amet erat lobortis, finibus augue et, tristique tellus
</p>

<%- include('footer') %>